{% set set_foo = '' %}

{% set set_foo_inner %}
    {{ set_foo_inner_print_foo }}
{% endset %}

{% if if_foo or if_foo_or %}
    {% set if_foo_set_foo = '' %}
{% endif %}

{{ print_foo }}
{{print_foo2}}
{{ print_foo_method() }}

{% include 'UNKNOWN.html.twig' %}

{% for foo in for_bar %}{% endfor %}

{# @var inline_foo Class #}
{# @var Class inline_foo_2 #}

{% block my_block %}
    {% set my_block_set_foo = '' %}
    {{ my_block_print_foo }}

    <ul>
        <li><p><strong>{{ my_block_print_foo_html }}</strong></p></li>
    </ul>
{% endblock %}